<%= link_to product do %>
  <div class="p-4 flex flex-col text-sm text-gray-600 font-extralight hover:text-gray-900 rounded-2xl hover:bg-gray-200 w-2/6">
    <p><%= product.title %></p>
    <p><%= product.body %></p>
    <p><%= product.quantity %></p>
    <p><%= product.price %></p>
  </div>
<% end %>